.loader{

    position:fixed;

    inset:0;

    background:#07123D;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    z-index:999999;

}

.loader-logo{

    width:220px;

    animation:pulse 1.5s infinite;

}

.loader-bar{

    width:240px;

    height:6px;

    background:rgba(255,255,255,.15);

    border-radius:20px;

    overflow:hidden;

    margin-top:40px;

}

.loader-bar span{

    display:block;

    height:100%;

    width:100%;

    background:#D39A32;

    animation:loading 1.8s linear forwards;

}

@keyframes loading{

    from{

        transform:translateX(-100%);

    }

    to{

        transform:translateX(0);

    }

}

@keyframes pulse{

    0%{

        transform:scale(.95);

    }

    50%{

        transform:scale(1);

    }

    100%{

        transform:scale(.95);

    }

}