.galeria{

    padding:120px 0;

    background:white;

}

.galeria-grid{

    max-width:1300px;

    margin:0 auto;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));

    gap:25px;

}

.foto{

    position:relative;

    overflow:hidden;

    border-radius:20px;

    cursor:pointer;

}

.foto img{

    width:100%;

    height:320px;

    object-fit:cover;

    transition:.5s;

} 

.foto:hover img{

    transform:scale(1.12) rotate(1deg);

}

.foto-overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(

180deg,

rgba(7,18,61,0),

rgba(7,18,61,.92)

);

    display:flex;

    justify-content:flex-end;

    flex-direction:column;

    padding:30px;

    opacity:0;

    transition:.4s;

}

.foto:hover .foto-overlay{

    opacity:1;

}

.foto-overlay h3{

    color:white;

    font-size:28px;

}
@media(max-width:768px){

.galeria-grid{

grid-template-columns:1fr;

}

.foto img{

height:250px;

}

}