*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
    overflow-x:hidden;
}

body{
     font-family:"Poppins", Arial, Helvetica, sans-serif;
    background:#ffffff;
    color:#222;
    overflow-x:hidden;
}
.container{
    max-width:1300px;
    margin:0 auto;
    width:100%;
}